# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# VSCode / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Local Anaconda project metadata
/anaconda_projects/

# Dataset
datasets/
